<div class="navbar-custom">
    <div class="container-fluid">
      <ul class="list-unstyled topnav-menu float-right mb-0">


        <li class="dropdown notification-list topbar-dropdown">
          <a
            class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="false"
            aria-expanded="false"
          >
            <img
              src="/assets/images/user.png"
              alt="user-image"
              class="rounded-circle"
            /> 
            <span class="pro-user-name ml-1">
              {{role}} <i class="mdi mdi-chevron-down"></i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-dropdown">
            <!-- item-->
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome !</h6>
            </div>

            <!-- item-->
            <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
              <i class="fe-user"></i>
              <span>My Account</span>
            </a> -->
            <span *ngFor="let link of profileLinks">
              <a [routerLink]="[link.url]" class="dropdown-item notify-item" (click)="updateTitle(link.name)" >
                  <i [class]="link.icon"></i> <span>{{link.name}}</span>
              </a>
            
          </span>

        
            <div class="dropdown-divider"></div>

            <!-- item-->
            <a href="javascript:void(0);" (click)="logout()" class="dropdown-item notify-item">
              <i class="fe-log-out"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>

     
      </ul>

      <!-- LOGO -->
      <div class="logo-box">
        
        <a href="index.html" class="logo logo-dark text-center">
          <!-- <span class="logo-sm">
          
          </span> -->
          
        </a>

        <a href="index.html" class="logo logo-light text-center pt-2">
          <span class="logo-lg">
            <h3 class="text-white">{{shopName}}</h3>
          </span>
        </a>
      </div>

   
      <div class="clearfix"></div>
    </div>
  </div>