<h3 mat-dialog-title>Checkout </h3>

<div mat-dialog-content  >

    <p >Payment of  <b>₵{{this.data}}</b> made to: </p>
    <div class="form-group">
        <label for="">Customer Name</label>
        <input type="text" [(ngModel)]="customerName" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Customer Phone</label>
        <input type="text" [(ngModel)]="customerPhone" class="form-control">
    </div>

</div>


<div mat-dialog-actions class="float-right">
    <button
      type="button"
      class="btn btn-danger waves-effect waves-light float-right"
      (click)="close()"
    >
      <i class="mdi mdi-close"></i> Cancel
    </button>
    <button
      type="button"
      (click)="generateReceipt()"
      class="btn btn-success waves-effect waves-light ml-2 float-right"
      
    >
      <i class="fas fa-receipt"></i> Generate Receipt
    </button>
  </div>