<div class="topnav shadow-lg">
    <div class="container-fluid">
      <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
        <div class="collapse navbar-collapse" id="topnav-menu-content">
          <ul class="navbar-nav">

            <li class="nav-item" *ngFor="let link of data">
              <a  [routerLink]="[link.url]" (click)="updateTitle(link.name)" class="nav-link"  > 
                  <i [class]="link.icon"></i>{{ link.name | titlecase}} 
                </a>

            </li>
         
          </ul>
          <!-- end navbar-->
        </div>
        <!-- end .collapsed-->
      </nav>
    </div>
    <!-- end container-fluid -->
  </div>