
<div class="row">
    <div class="col-md-4">
      <div class="card-box">
        <h4 class="header-title mb-3">Compute Tithe</h4>
    
<form
  [formGroup]="titheForm"
  class="needs-validation"
  (ngSubmit)="computeTithe(titheForm.value)"
>

      <div
      class="form-group-custom"
      [ngClass]="{
        'has-error':
          titheForm.get('startDate').touched && !titheForm.get('startDate').valid
      }"
    >
      <label for="name">Start Date</label>
      <input type="date" class="form-control" formControlName="startDate" />
      <span
        class="error"
        *ngIf="
          titheForm.get('startDate').touched && !titheForm.get('startDate').valid
        "
      >
        start date is required
      </span>
    </div>
   
  
      <div
      class="form-group-custom"
      [ngClass]="{
        'has-error':
          titheForm.get('endDate').touched &&
          !titheForm.get('endDate').valid
      }"
    >
      <label for="name">End Date</label>
      <input type="date" class="form-control" formControlName="endDate" />
   
      <span
        class="error"
        *ngIf="
          titheForm.get('endDate').touched && !titheForm.get('endDate').valid"
      >
        category is required
      </span>
     

  </div>
 

 
<div class="row">
    <div class="col-12">
    <div
    class="form-group-custom"
    [ngClass]="{
        'has-error':
        titheForm.get('percentage').touched &&
        !titheForm.get('percentage').valid
    }"
    >
    <label for="name">Percentage (%)</label>
    <div class="row">
      <div class="col-8">
        <input type="number" class="form-control " formControlName="percentage" disabled/>
      </div>
      <div class="col-4">
        <a href="#"  data-toggle="modal" data-target="#changePercentage">change</a>
      </div>
    </div>
   
    <span
        class="error"
        *ngIf="
        titheForm.get('percentage').touched &&
        !titheForm.get('percentage').valid
        "
    >
        percentage is required
    </span>
    </div>
</div>

</div>
 <div class="row ">
     <div class="col-12">
        <button
        type="submit"
        class="btn btn-success waves-effect waves-light mt-3 btn-block "
        [disabled]="!titheForm.valid"
        >
        <i class=" fas fa-calculator"></i> Calculate
        </button>
     </div>
    
 </div>

 <hr>
 <div class="row col-12 justify-content-center ">

  <h4>Amount to Tithe (₵) </h4>
  <p class="text-center display-4">{{amount | currency: ' '}}</p>
</div>

</form>

</div>
</div>

<div class="col-md-8">
    <div class="card-box ">
      <h4 class="header-title mb-3">Tithe History</h4>
      <div *ngIf="isLoading" style="width: 100%">
        <ngx-skeleton-loader
          count="5"
          [theme]="{
            width: '90%',
            'border-radius': '0',
            height: '15px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>

      <div *ngIf="!isLoading">
        <div *ngIf="dataSource; else notFound">
          <div class="table-responsive">
            <table
              mat-table
              [dataSource]="dataSource"
              class="table table-centered table-hover mb-0"
            >
              <ng-container matColumnDef="startDate">
                <th class="border-top-0" mat-header-cell *matHeaderCellDef>
                  Start Date
                </th>
                <td mat-cell *matCellDef="let element">
                 
                    {{ element.startDate | date:'longDate' }}
                
                </td>
              </ng-container>
              <ng-container matColumnDef="endDate">
                <th class="border-top-0" mat-header-cell *matHeaderCellDef>
                  End Date
                </th>
                <td mat-cell *matCellDef="let element">
                 
                    {{ element.endDate | date:'longDate'}}
                
                </td>
              </ng-container>
              <ng-container matColumnDef="percentage">
                <th class="border-top-0" mat-header-cell *matHeaderCellDef>
                  Percentage Then
                </th>
                <td mat-cell *matCellDef="let element">
                 
                    {{ element.percentage }}
                
                </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th class="border-top-0" mat-header-cell *matHeaderCellDef>
                  Amount
                </th>
                <td mat-cell *matCellDef="let element">
                 
                    {{ element.amount }}
                
                </td>
              </ng-container>
  

  
              <ng-container matColumnDef="createdAt">
                <th class="border-top-0" mat-header-cell *matHeaderCellDef>
                  Created At
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.createdAt | dateAgo }}
                </td>
              </ng-container>
  
            
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                [ngClass]="{ highlight: selectedRowIndex == row.id }"
              ></tr>
            </table>
            <ng-template #notFound>
              <div class="row justify-content-center text-center" style="width: 100%">
                <div class="col-9">
                  <div class="alert alert-info" *ngIf="isEmpty">
                    No history found.
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          
        </div>

        
      </div>
    </div>
 
</div>
</div>




<div class="modal fade" id="changePercentage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #percentageModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form
      [formGroup]="percentageForm"
      class="needs-validation"
      (ngSubmit)="savePercentage()"
    >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Percentage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
        class="form-group-custom"
        [ngClass]="{
          'has-error':
            percentageForm.get('percentage').touched &&
            !percentageForm.get('percentage').valid
        }"
      >
        <label for="name">Percentage</label>
        <input type="number" class="form-control" formControlName="percentage"  value="percentage"/>
        <span
          class="error"
          *ngIf="
            percentageForm.get('percentage').touched && !percentageForm.get('percentage').valid"
        >
          percentage is required
        </span>
       
  
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>