
<h1 mat-dialog-title >Delete Item</h1>
<hr>
<div mat-dialog-content class="container">
    <div  class="row justify-content-center">

        <div class="col-md-12">
           <p >Deleting this item is irreversible. Enter the key word <kbd>{{data.word}}</kbd> below to confirm you want to permanently delete it.
           </p>
           
            <mat-form-field appearance="outline"  width="100%" >
                <input matInput  [(ngModel)]="keyWord" (ngModelChange)="checkWord()"  >
             
              </mat-form-field>
      
        </div>
 
    
    </div>
    
</div>
<div mat-dialog-actions class="float-right">
    <button
    type="button"
    class="btn btn-danger waves-effect waves-light  float-right"
    (click)="close()" 
  ><i class="mdi mdi-close"></i> Cancel</button>
  <button
  type="button"
  class="btn btn-success waves-effect waves-light ml-2 float-right"
  (click)="delete()" [disabled]="!isValid"
><i class="mdi mdi-trash"></i> Delete</button>
    <!-- <button mat-button (click)="close()" class="float-right">Cancel</button>
    <button mat-button (click)="delete()" class="float-right" [disabled]="!isValid">Delete</button>
     -->
  </div>