<div id="wrapper">
    <!-- <app-header class="header" (toggleSidebarForMe)="toggleSidebar()"></app-header> -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                    <router-outlet></router-outlet>

                </div>
        </div>
    </div>


</div>





<!-- <mat-drawer-container >
    <mat-drawer mode="side" [opened]="sideBarOpen" >
        <app-sidebar></app-sidebar> 
    </mat-drawer>
    <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
  </mat-drawer-container> -->
