<h3 mat-dialog-title>View Category 
    <span *ngIf="data.status == 'inactive'" class="badge badge-warning"> {{data.status}} </span> 
    <span *ngIf="data.status == 'active'" class="badge badge-success"> {{data.status}} </span>
</h3>

<div mat-dialog-content class="container">
    <p class="lead"><b>Description: </b> {{data.description}}</p> 
</div>

<div mat-dialog-actions class="float-right">
    <button
    type="button"
    class="btn btn-danger waves-effect waves-light  float-right"
    (click)="close()" 
  ><i class="mdi mdi-close"></i> Close</button>
</div>
