/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Montserrat', sans-serif  !important;
    overflow: hidden; }

.avatar-container{
    margin: 4px !important;
}